*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
caption{
    padding: 10px;
    color: rgb(69, 69, 69);
}
.login-table{
    padding: 30px 10px;
    border: 2px solid rgb(69, 69, 69);
    font-size: 14px;
    margin: auto !important;
    margin-top: 100px !important;
    padding-bottom: 100px;
}
.login-label ,.login-input{
    padding: 10px 5px;
}
.login-button{
    padding: 10px;
}
.login-button input{
    background-color: rgb(69, 69, 69);
    color: white;
    padding: 10px;
    font-size: 10px !important;
    border: none;
    width: 100% !important;
}
.go-signup{
    text-align: right;
}
.go-signup a{
    color: rgb(69, 69, 69);
}